<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">-->
<!--    <link rel="icon" href="/favicon.ico" type="image/x-icon">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/../../static/css/up_load.css">
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.809.0.min.js"></script>
    <title>업로드 페이지</title>
    <script>
        $(document).ready(function () {
            edit()
        })
        function edit() {
            $.ajax({
                type: "GET",
                url: "/edit",
                data: {},
                success: function (response) {
                    let rows = response['edit']
                    let title = rows[0][0]
                    let category = rows[0][1]
                    let start_price = rows[0][2]
                    let content = rows[0][3]
                    let temp_html = `	<div class="upload_header_name">살래요</div>
</div>
<!--# 제목 작성-->
<input class="upload_title" id="title" value="${title}">
<div class="upload_title_line"></div>
<div class="upload_sec_line">
<!--    # 카테고리-->
    <div class="upload_category" id="categry">
        <select class="form-select" id="category" value="${category}">
            <option selected value="none">카테고리</option>
            <option value="it">it</option>
            <option value="과학">과학</option>
            <option value="코딩">코딩</option>
            <option value="경제">경제</option>
        </select>
        <label for="floatingSelect"></label>
    </div>
<!--# 금액 작성-->
    <div class="upload_start_money">
        <input type="number" id="start_price" class="form-control" value="${start_price}">
        <span class="input-group-text">원</span>
    </div>
<!--    # 파일 업로더-->
    <label for="upload_file">
        <div class="upload_file">파일 업로드하기</div>
        <input type="file" name="" id="upload_file">
    </label>
</div>

<!--# 내용 작성-->
<div>
    <textarea class="upload_content" style="white-space: pre-wrap" id="content" value="${content}"></textarea>
</div>
<!--# 버튼들-->
<div class="upload_content_buttons">
    <button onclick="upload_button()" type="button" class="btn btn-primary" id="upload_content_save">등록 하기</button>
    <button onclick="history.back();" type="button"  class="btn btn-danger" id="upload_content_out">나가기</button>
</div>`
                    $('#edit').append(temp_html)
                }
            });
        }
        let today = new Date();
        let year = today.getFullYear(); // 년도
        let month = today.getMonth() + 1;
        let date = today.getDate();
        let hours = today.getHours(); // 시
        let minutes = today.getMinutes();  // 분
        let seconds = today.getSeconds();  // 초
        now_date = (year+'-'+month+'-'+date+'-'+hours+'-'+minutes+'-'+seconds)
        function upload_button() {
            upload_id = $('#upload_id').val()
            let title = $('#title').val()
            let category = $('#category').val()
            let start_price = $('#start_price').val()
            let date = now_date
            let content = $('#content').val()
            if ($("#title").val().length == 0) {
                alert("제목은 필수입니다");
                $("#title").focus();
                return false;
            }
            if ($("#category").val().length == 0 ||$("#category").val() == 'none') {
                alert("카테고리 골라주세요");
                $("#category").focus();
                return false;
            }
            if ($("#start_price").val().length == 0 || $("#start_price").val() == "0") {
                alert("시작 금액을 정해주세요");
                $("#start_price").focus();
                return false;
            }
            if ($("#content").val().length == 0) {
                alert("내용을 써주세요");
                $("#content").focus();
                return false;
            }
            const input = document.getElementById('upload_file');
            let file = input.files[0]
            download_upload_files = 'https://'+'minprojectbuy'+'.s3.'+'ap-northeast-2'+'.amazonaws.com/'+file.name
            let files = download_upload_files
            $.ajax({
                type: 'POST',
                url: '/upload',
                data: {upload_id_give: upload_id, title_give: title,category_give: category,
                    start_price_give: start_price,date_give: date, content_give: content
                , files_give :files},
                success: function (response) {
                    alert(response['msg'])
                    window.close()
                }
            })
        }
    </script>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
            integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="../static/script/up_load.js"></script>
    <script src="../static/script/out_button.js"></script>
    <div class="upload_header" id = "edit"></div>
</body>
    <script src="../static/script/putFile.js"></script>
    <script src="../static/script/upload_content_save.js"></script>
</html>